@charset "utf-8";
/* ---------- CALENDAR ---------- */
body {
	background: #f9f9f9;
	color: #0e171c;
	margin: 0;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
	height: 800px;
	left: 50%;
	margin: -255px 0 0 -245px;
	position: absolute;
	top: 50%;
	width: 640px;
}
.calendar {
	text-align: center;
	header {
		position: relative;
	}
	thead {
		font-weight: 600;
		//text-transform: uppercase;

	}
	tbody {
		color: #7c8a95;
		td {
			&:hover {
				// border: 2px solid #00addf;
			}
		}
	}
	td {
		border: 1px solid #00addf;
		display: inline-block;
		width: 5em;
		height: 5em;
	}
	th {
		width: 5em;
		display: inline-block;
	}
	.prev-month {
		color: #cbd1d2;
		&:hover {
			border: 2px solid #cbd1d2;
		}
	}
	.next-month {
		color: #cbd1d2;
		&:hover {
			border: 2px solid #cbd1d2;
		}
	}
}
.current-day {
	background: #00addf;
	color: #f9f9f9;
}
.event {
	cursor: pointer;
	position: relative;
	&:after {
		background: #00addf;
		border-radius: 50%;
		bottom: .5em;
		display: block;
		content: '';
		height: .5em;
		left: 50%;
		margin: -.25em 0 0 -.25em;
		position: absolute;
		width: .5em;
	}
}
.event.current-day {
	&:after {
		background: #f9f9f9;
	}
}
.btn-prev {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
	left: 6em;
	&:hover {
		background: #cbd1d2;
		color: #f9f9f9;
	}
}
.btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
	right: 6em;
	&:hover {
		background: #cbd1d2;
		color: #f9f9f9;
	}
}
.day-container {
	.day {
        text-align: right;
        color: #1936c5;
        font-weight: bolder;
	}
    .nahual {
        padding-top: 0.5em;
        font-weight: bold;
        color: #66DCEC;
    }
    .nahual-day {
        font-size: 1.5em;
    }
}
